{% extends 'base.html' %}
{% block content %}
</script>
<div class="container">
    <h1>{% if id_tarea is null %}Crear{% else %}Editar{% endif %} tarea</h1>
    <form method="POST" action="{% if id_tarea is null %}crearTarea{% else %}./{{id_tarea}}{% endif %}">
        <div class="mb-3">
            <label class="form-label" for="nif_cif">DNI o CIF</label>
            <input type="text" value="{{tarea['nif_cif']}}"
                class="form-control {% if errores['nif_cif'] == true %}is-invalid{% endif %}" id="nif_cif"
                name="nif_cif" placeholder="DNI o CIF">
            {% if errores['nif_cif'] == true %}
            {% for error in errores['nif_cif'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="nombre_contacto">Persona de contacto</label>
            <input type="text" value="{{tarea['nombre_contacto']}}"
                class="form-control {% if errores['nombre_contacto'] == true %}is-invalid{% endif %}"
                name="nombre_contacto" id="nombre_contacto" placeholder="Persona de contacto">
            {% if errores['nombre_contacto'] == true %}
            {% for error in errores['nombre_contacto'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="telefono_contacto">Telefono de contacto</label>
            <input type="text" value="{{tarea['telefono_contacto']}}"
                class="form-control {% if errores['telefono_contacto'] == true %}is-invalid{% endif %}"
                name="telefono_contacto" id="telefono_contacto" placeholder="Telefono de contacto">
            {% if errores['telefono_contacto'] == true %}
            {% for error in errores['telefono_contacto'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="descripcion">Descripcion</label>
            <input type="text" value="{{tarea['descripcion']}}"
                class="form-control {% if errores['descripcion'] == true %}is-invalid{% endif %}" name="descripcion"
                id="descripcion" placeholder="Persona de Descripcion">
            {% if errores['descripcion'] == true %}
            {% for error in errores['descripcion'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="email_contacto">Correo electronico</label>
            <input type="text" value="{{tarea['email_contacto']}}"
                class="form-control {% if errores['email_contacto'] == true %}is-invalid{% endif %}" name="email_contacto" id="email_contacto"
                placeholder="Correo electronico">
            {% if errores['email_contacto'] == true %}
            {% for error in errores['email_contacto'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="direccion">Direccion</label>
            <input type="text" value="{{tarea['direccion']}}" class="form-control" name="direccion" id="direccion"
                placeholder="Direccion">
        </div>
        <div class="mb-3">
            <label class="form-label" for="poblacion">Poblacion</label>
            <input type="text" value="{{tarea['poblacion']}}" class="form-control" name="poblacion" id="poblacion"
                placeholder="Poblacion">
        </div>
        <div class="mb-3">
            <label class="form-label" for="cp">Codigo postal</label>
            <input type="text" value="{{tarea['cp']}}"
                class="form-control {% if errores['cp'] == true %}is-invalid{% endif %}" name="cp" id="cp"
                placeholder="Codigo postal">
            {% if errores['cp'] == true %}
            {% for error in errores['cp'] %}
            <div class="invalid-feedback">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <label class="form-label" for="provincia">Provincia</label>
            <input type="text" value="{{tarea['provincia']}}" class="form-control" name="provincia" id="provincia"
                placeholder="Provincia">
        </div>
        <div class="mb-3">
            <label class="form-label" for="estado">Estado</label>
            <select id="estado" name="estado" class="custom-select custom-select-lg mb-3">
                <option selected value="B">Esperando</option>
                <option value="P">Pendiente</option>
                <option value="R">Realizada</option>
                <option value="C">Cancelada</option>
              </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_operario">Operario encargado</label>
            <select id="id_operario" name="id_operario" class="custom-select custom-select-lg mb-3">
                {% for operario in operarios %}
                <option {% if tarea['estado'] == operario["id_usuario"] %}selected{% endif %} value="{{operario["id_usuario"]}}">{{operario["nombre"]}}</option>
                {% endfor %}
              </select>
        </div>
        <div class="mb-3">
            <label class="form-label" for="fecha_realizacion">Fecha realizacion</label>
            <input type="text" value="{{tarea['fecha_realizacion']}}" class="form-control" name="fecha_realizacion"
                id="fecha_realizacion" placeholder="Fecha realizacion">
        </div>
        <div class="mb-3">
            <label class="form-label" for="anotacion_anterior">Anotaciones anteriores</label>
            <input type="text" value="{{tarea['anotacion_anterior']}}" class="form-control"
                name="anotacion_anterior" id="anotacion_anterior" placeholder="Anotaciones anteriores">
        </div>
        <div class="mb-3">
            <label class="form-label" for="anotacion_posterior">Anotaciones posteriores</label>
            <input type="text" value="{{tarea['anotacion_posterior']}}" class="form-control"
                name="anotacion_posterior" id="anotacion_posterior" placeholder="Anotaciones posteriores">
        </div>
        <a type="button" href="/" class="btn btn-primary">Atras</a>
        <button type="submit" class="btn btn-primary">{% if id_tarea is null %}Crear{% else %}Editar{% endif %} tarea</button>
    </form>
</div>


{% endblock %}