{% extends 'base.html' %}
{% block content %}
</script>
<div class="container">
    <h1>Tarea {{tarea['idtarea']}}</h1>
    <form method="POST" action="/cambiarEstado/{{tarea['idtarea']}}">
        <div class="mb-3">
            <label class="form-label" for="nif_cif">DNI o CIF</label>
            <p id="nif_cif">{{tarea['nif_cif']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="nombre_contacto">Persona de contacto</label>
            <p id="nombre_contacto">{{tarea['nombre_contacto']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="telefono_contacto">Telefono de contacto</label>
            <p id="telefono_contacto">{{tarea['telefono_contacto']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="descripcion">Descripcion</label>
            <p id="descripcion">{{tarea['descripcion']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email_contacto">Correo electronico</label>
            <p id="email_contacto">{{tarea['email_contacto']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="direccion">Direccion</label>
            <p id="direccion">{{tarea['direccion']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="poblacion">Poblacion</label>
            <p id="poblacion">{{tarea['poblacion']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="cp">Codigo postal</label>
            <p id="cp">{{tarea['cp']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="provincia">Provincia</label>
            <p id="provincia">{{tarea['provincia']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="estado">Estado</label>
            <p id="estado">
                {% if tarea['estado'] == 'B' > 10 %}
                Esperando
                {% elseif tarea['estado'] == 'P' > 0 %}
                Pendiente
                {% elseif tarea['estado'] == 'R' > 0 %}
                Realizada
                {% elseif tarea['estado'] == 'C' > 0 %}
                Cancelada
                {% else %}
                No Válido
                {% endif %}
            </p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="id_operario">Operario encargado</label>
            <p id="id_operario">{{tarea['id_operario']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="fecha_creacion">Fecha realizacion</label>
            <p id="fecha_creacion">{{tarea['fecha_creacion']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="fecha_realizacion">Fecha realizacion</label>
            <p id="fecha_realizacion">{{tarea['fecha_realizacion']}}</p>
        </div>
        <div class="mb-3">
            <label class="form-label" for="anotacion_anterior">Anotaciones anteriores</label>
            <input type="text" value="{{tarea['anotacion_anterior']}}" class="form-control" name="anotacion_anterior"
                id="anotacion_anterior" placeholder="Anotaciones posteriores">
        </div>
        <div class="mb-3">
            <label class="form-label" for="anotacion_posterior">Anotaciones posteriores</label>
            <input type="text" value="{{tarea['anotacion_posterior']}}" class="form-control" name="anotacion_posterior"
                id="anotacion_posterior" placeholder="Anotaciones posteriores">
        </div>
        <div class="mb-3">
            <label class="form-label" for="cambiar_estado">Anotaciones posteriores</label>
            <select id="cambiar_estado" name="cambiar_estado" class="custom-select custom-select-lg mb-3">
                <option {% if tarea['estado'] == 'B' %}selected{% endif %} value="B">Esperando</option>
                <option {% if tarea['estado'] == 'P' %}selected{% endif %} value="P">Pendiente</option>
                <option {% if tarea['estado'] == 'R' %}selected{% endif %} value="R">Realizada</option>
                <option {% if tarea['estado'] == 'C' %}selected{% endif %} value="C">Cancelada</option>
              </select>
        </div>
        
          <a type="button" href="/" class="btn btn-primary">Volver</a>
        <button type="submit" class="btn btn-primary">Cambiar estado</button>
    </form>
</div>


{% endblock %}